/*
 * Copyright (c) 2023 Hexad GmbH
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 */



 #launch-bar {
    position: relative;
    top: 95%;
    width: 100%;
}

.main-window {
    width: 60%;
    margin: 0.2%;
    /*background-color: honeydew;*/
}

.form-box{
    /*background-color: honeydew;*/
    padding: 0.4%;
    margin: 0.4%;
    border-style: solid;
    border-width: thin;
    /*border-radius: 6px;*/
}