/*
 * Copyright (c) 2023 Hexad GmbH
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 */
 
.icon-mask {
    display: flex;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    height: 1.2rem;
    width: 1.2rem;
    margin-top: 1px;
    align-items: center;
    justify-content: center;
    mask-size: contain;
    -webkit-mask-size: contain;
}

.icon-mask.white {
    background: white;
}
.icon-mask.primary {
    background: var(--main-color);
}

.icon-mask.location-exit {
    -webkit-mask-image: url('../assets/icons/location-exit.svg');
    mask-image: url('../assets/icons/location-exit.svg');
}

.icon-mask.file-cog {
    -webkit-mask-image: url('../assets/icons/file-cog-outline.svg');
    mask-image: url('../assets/icons/file-cog-outline.svg');
}

.icon-mask.info-seatch {
    -webkit-mask-image: url('../assets/icons/info-search.svg');
    mask-image: url('../assets/icons/info-search.svg');
}